---
import profile from "../assets/profile.webp";

const skills = [
  "TypeScript",
  "React.js",
  "Next.js",
  "Node.js",
  "Astro",
  "JavaScript (ES6+)",
  "Docker",
  "MongoDB",
];
---

<section
  id="about"
  class="py-20 min-h-screen flex items-center px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-4xl mx-auto">
    <h2
      class="flex items-center gap-2 sm:gap-4 text-2xl sm:text-3xl font-bold text-slate-lighter mb-12"
    >
      <span class="text-primary font-fira-code text-base sm:text-xl">01.</span>
      À propos de moi
      <div class="flex-1 h-px bg-navy-lighter ml-4"></div>
    </h2>

    <div class="grid md:grid-cols-3 gap-8 md:gap-12">
      <div class="md:col-span-2 text-secondary">
        <p class="mb-4 text-slate-lighter sm:text-lg">
          Fort de trois années d’expérience en développement web, j’ai développé
          une expertise approfondie dans l’écosystème JavaScript, en maîtrisant
          des technologies modernes telles que React, Next.js et Node.js. Mon
          approche est centrée sur l’utilisateur, visant à concevoir des
          solutions web intuitives et accessibles, tout en garantissant
          performance et sécurité.
        </p>
        <p class="mb-4 text-slate-lighter sm:text-lg">
          Doté d’une grande empathie, je suis à l’écoute des besoins de mes
          clients et collaborateurs, ce qui favorise une communication fluide et
          une collaboration efficace.
        </p>
        <p class="mb-8 text-slate-lighter sm:text-lg">
          En dehors du code, j’aime partir à l'aventure que ce soit en vélo ou
          en sac à dos. Sportif de nature, j'aime me challenger à travers le
          trail running.
        </p>
        <h3 class="text-slate-lighter font-fira-code mb-4 text-base sm:text-lg">
          Technologies que j'utilise :
        </h3>
        <ul class="grid grid-cols-2 gap-2 text-sm sm:text-base">
          {
            skills.map((skill) => (
              <li class="flex items-center gap-2 text-secondary">
                <span class="text-primary">▹</span>{" "}
                <p class="text-slate-lighter">{skill}</p>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="relative group">
        <div class="relative z-10">
          <img
            src={profile.src}
            alt="Portrait"
            class="rounded grayscale hover:grayscale-0 transition-all duration-300 w-full"
          />
        </div>
      </div>
    </div>
  </div>
</section>
